{% extends 'baseEmail.html.twig' %}
{% block title %}{{ email.subject }}{% endblock %}
{% block body %}
<div class="body">
    <div class="container">
        <div class="header text-center">
                <img src="{{ email.image('@images/logo_.png') }}" alt="Knarf Logo">
        </div>
        <div class="content">
            <h1 class="text-center">Enchanté {{ user.username }}!</h1>
            <p class="block">
                Bienvenue chez <strong>Knarf Media</strong>, nous sommes impatients de lire votre première publication.                
            </p>
            <p>Veuillez confirmer votre email en cliquant sur ce lien: <br><br>
                <a href="{{ signedUrl }}">Confirmer mon Email</a>.
                Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
            </p>
        </div>
        <div class="footer">
            <p class="block">
                À votre santé,<br><br>
                Votre <em>Équipe Knarf Media</em>
            </p>
            <p class="block bottom text-center">
                Expédié avec ❤️ par Knarf Media
            </p>
        </div>
    </div>
</div>
{% endblock %}
